<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ctasim.user.mapper.RailActivityMapper">

    <resultMap id="BaseResultMap" type="top.ctasim.user.entity.RailActivity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="railName" column="rail_name" jdbcType="VARCHAR"/>
        <result property="stage" column="stage" jdbcType="VARCHAR"/>
        <result property="activityTime" column="activity_time" jdbcType="TIMESTAMP"/>
        <result property="line" column="line" jdbcType="VARCHAR"/>
        <result property="section" column="section" jdbcType="VARCHAR"/>
        <result property="activityStart" column="activity_start" jdbcType="VARCHAR"/>
        <result property="activityEnd" column="activity_end" jdbcType="VARCHAR"/>
        <result property="iocoAsk" column="ioco_ask" jdbcType="VARCHAR"/>
        <result property="bottomAsk" column="bottom_ask" jdbcType="VARCHAR"/>
        <result property="goExplain" column="go_explain" jdbcType="VARCHAR"/>
        <result property="dispatch" column="dispatch" jdbcType="VARCHAR"/>
        <result property="ipPort" column="ip_port" jdbcType="VARCHAR"/>
        <result property="otherExplain" column="other_explain" jdbcType="VARCHAR"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,rail_name,stage,
        activity_time,line,section,
        activity_start,activity_end,ioco_ask,
        bottom_ask,go_explain,dispatch,
        ip_port,other_explain,add_time,
        state
    </sql>
    <delete id="delById">
        delete
        from rail_activity
        where id = #{id,jdbcType=NUMERIC}
    </delete>
    <select id="selectOneById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rail_activity
        where
        id = #{id,jdbcType=NUMERIC}
    </select>
</mapper>
